.homeContainer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: auto;
    border: 5px solid rgb(55, 46, 220);
}
.homeContainer .search {
    display: flex;
    border: 5px solid rgb(46, 220, 130);
}
.homeContainer .search input{
    border-color: rgb(149, 132, 206);
    margin: auto;
    padding: 15px;
    border-radius: 8px;
  
}
.homeContainer .mainBody {
    display: flex;
    /* flex: 100%; */
    margin: 10px;
    padding: 10px; 
    border:  5px solid rgb(247 74 106);
    gap: 10px;
}
/* .scrollableContainer {
    flex: 70%;
    overflow-y: auto; 
} */
.homeLeft{
    flex: 30%;
    background-color: #f0f0fc;
    /* position: fixed; */
    height: 40vh;
    border: 5px solid green;
}
.rangeInput {
    background-color: #7064e5;
    border-radius: 4px;
    cursor: pointer;
    height: 6px;
    /* -webkit-transform: scale(1); */
    transform: scale(1);
    width: 90%;
}
.homeLeft ul{
    padding-top: 20px;
    list-style: none;
    /* gap: 5px; */
}
.homeLeft ul li{
    padding-top:5px ;
}
/* .homeRightContainer{

} */
.homeRight{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 33%; */
    gap: 15px;
    flex: 70%;
    height: auto
    /* border: 5px solid rgb(37, 181, 157); */
}
.homeRight .itempro {
    /* border: 2px solid rgb(128, 0, 13); */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(64, 77, 148, .4);
}
.cartButton {
    background: #7064e5;
    border: 1px solid #7064e5;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    /* transition: all .3s ease-in-out; */
    /* width: 50%;
        width: 100%; */

}
