

.navContainer{
    /* position: fixed; */
    display: flex;
    /* border: 10px solid green; */
    height: 25px;
    padding: 10px;
    background-color: rgb(71, 98, 142);
    /* box-shadow: #b55454; */
    margin-bottom: 15px;
}
.navContainer  .logo{
    flex: 50%;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}
.right{
    text-decoration: none; 
    color: rgb(255, 247, 247);
}

.navContainer ul{
    display: flex;
    flex: 50%;
    /* text-decoration: none; */
    list-style: none;
    gap: 70px;
}